<%- include('../partials/header') %>

<table id="list">
    <thead>
      <tr>
        <th>Posted</th>
        <th>Title</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% items.forEach(function(i) { %>
        <tr>
          <td><%= i.createdAt %></td>
          <td><%= i.title %></td>
          <td><a href="/items/<%= i._id %>">DETAILS</a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

<%- include('../partials/footer') %>