<%- include('../partials/header') %>

<section id="show-page">
    <div>Posted: </div>
    <div><%= item.createdAt %></div>
    <div>Title: </div>
    <div><%= item.title %></div>
    <div>Description: </div>
    <div><%= item.description %></div>
</section>

<br><br><h2>Bids</h2>

<%- include('../partials/footer') %>