<%- include('../partials/header') %>

<section id="show-page">
  <div>Posted: </div>
  <div><%= item.createdAt %></div>
  <div>Title: </div>
  <div><%= item.title %></div>
  <div>Description: </div>
  <div><%= item.description %></div>
</section>
<br><br><h2>Bids</h2>
<% if (user) { %>
  <form id="add-bid-form" method="POST" action="/items/<%= item._id %>/bids">
    <label>Price:</label>
    <textarea name="content"></textarea>
    <input type="submit" value="Add Bid">
  </form>
<% } %>
<% if (item.bids.length) { %>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
        <th>Bid</th>
      </tr>
    </thead>
    <tbody>
      <% let total = 0 %>
        <% item.bids.forEach(function(b) { %>
          <tr>
            <td class="bid-user"><img alt="avatar" src="<%= b.userAvatar %> "referrerpolicy="no-referrer" ><%= b.userName %></td>
            <td><%= b.createdAt.toLocaleDateString() %></td>
            <td><%= b.content %></td>
          </tr>
        <% if (user && user._id.equals(b.user)) { %>
          <form action="/bids/<%= b._id %>?_method=DELETE" method="POST">
            <button type="submit">X</button>
          </form>
        <% } %> 
      <% }); %>
        <tr>
          <td colspan="3"></td>
        </tr>
    </tbody>
  </table>
<% } else { %>
  <h5>No Bids Yet</h5>
<% } %>

<%- include('../partials/footer') %>